.carateristic{
padding: 15px;

margin: 10px;
}

.carateristic__title{

    text-align: center;
    color: $orangeNintendo;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15px;
}

.carateristic__text{

    margin: 15px 0px;
    font-size: larger;
}