.carateristic{
padding: 15px;

margin: 10px;

    @include largeScreen{
        display: flex;
    }

    div{
        @include largeScreen{
            font-size: x-large;
            margin-left: 40px;
        } 
    }
}

.carateristic__title{

    text-align: center;
    color: $orangeNintendo;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15px;
}

.carateristic__text{

    margin: 15px 0px;

}

.carateristic__console{
    @include largeScreen{
        transform: translateX(25%);
    }
}