.footer{

    padding: 15px 5px;
    background-color: $redNintendo;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    a{
        color: white;
    }
}